body {
    background-color: #27202e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color : #ffd4da;
    font-size: 20px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(14, 8, 18, 0.75);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px; /* Ajustez la hauteur selon vos besoins */
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 50px;
}